{
	"printWidth": 120,
	"trailingComma": "all",
	"singleQuote": true,
	"jsxSingleQuote": false,
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"quoteProps": "preserve",
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./src/app/globals.scss"
}
